* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 1100px;
  margin: 0 auto;
}

.title {
  color: rgb(53, 120, 158);
  text-align: center;
  padding: 1em 0 0.5em 0;
  font-size: 3em;
}

.subtitle {
  padding-bottom: 2em;
  margin-left: 2em;
  text-align: center;
}

div.content {
  display: flex;
  flex-wrap: wrap;
}

div.articles {
  display: flex;
  flex-basis: 800px;
  height: 1000px;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-content: space-evenly;
}

article {
  display: flex;
  flex-direction: column;
  width: 240px;
  margin-bottom: 2em;
  justify-content: center;
}

article:first-of-type {
  background-color: rgba(39, 155, 184, 0.3);
}

div.sidebar {
  width: 240px;
  text-align: justify;
}

div h2 {
  margin-bottom: 10px;
}

.about,
.all_posts,
.contact {
  display: block;
  text-align: end;
  padding: 1em 0 0 0;
  text-decoration: none;
  text-transform: uppercase;
}

hr {
  border: 3px solid darkblue;
}

@media screen and (max-width: 1060px) {

  .div.articles {
    display: flex;
    height: 2000px;
    /* flex-basis: 600px; */
  }

  .wrapper {
    width: 760px;
    margin: 0 auto;
  }
}